@import '../../../public/styles/includes';
.overview {
    &__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, .2);
        color: #FFF;
        padding: 0 0 10px;
        width: 100%;
        height: 110px;
        margin: auto;
        @include breakpoint-min(xs) {
            width: 350px;
        }
        &-desc {
            @include fontsize(md);
            padding: 5px 0;
        }
        &-temp {
            @include fontsize(xl);
            display: flex;
            justify-content: center;
            position: relative;
            width: 180px;
            margin: auto;
            span {
                cursor: pointer;
            }
            img {
                position: absolute;
                left: -50px;
                top: 7px;
            }
        }
    }
}